.loader {
  position: fixed;
  top: calc(100vh / 2 - 75px);
  left: calc(100vw / 2 - 75px);
  z-index: var(--sl-z-index-toast);
  width: 150px; /* control the size */
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 22deg, #0003, #000);
  mask: conic-gradient(from 22deg, #0003, #000);
  animation: load 1s steps(12) infinite;
}
.loader,
.loader:before,
.loader:after {
  --_g: linear-gradient(var(--sl-color-primary-500) 0 0) 50%; /* update the color here */
  background: var(--_g) / 34% 5% space no-repeat,
    var(--_g) / 5% 34% no-repeat space;
}
.loader:before,
.loader:after {
  content: '';
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes load {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
